<menu>

    <menuItem>
        <label>Item1AAAAAA</label>
        <path>pad2</path>
    </menuItem>



    <menuItem>
        <label>Itemaaaaaaaa2</label>
        <path>pad2</path>
    </menuItem>

        <menuItem>
        <label>Itemaaaaaaaa2</label>
        <path>pad2</path>
    </menuItem>

        <menuItem>
        <label>Itemaaaaaaaa2</label>
        <path>pad2</path>
    </menuItem>


</menu>